# data
/Final Project data/
/data/
__MACOSX/

# python
__pycache__/
*.pyc
.venv/
venv/

# vscode/system
.vscode/
.DS_Store

.idea/
notes.md

# experiment outputs / generated artifacts
/outputs/
*.pt
*.pth
*.ckpt
*.jsonl